<div class="header">
  <div class="logo">
    <img src="/img/logo.svg" alt="Red Pine Software, LLC Logo" title="Red Pine Software, LLC">
  </div>
  <div class="title">
    Red Pine Software, LLC
  </div>
</div>
