<div class="header">
  <div class="logo">
    <a href="/"><img src="/img/logo.svg" alt="Red Pine Software, LLC Logo" title="Red Pine Software, LLC"></a>
  </div>
  <div class="title">
    Red Pine Software, LLC
  </div>
</div>
