<div class="header">
  <div class="logo">
    <img src="/img/logo.svg" alt="Redpine Software, LLC Logo">
  </div>
  <div class="title">
    Redpine Software, LLC
  </div>
</div>

<div class="nav">
  <ul>
    <li class="{{#if active.about}}active{{/if}}"><a href="/">About</a></li>
    <li class="{{#if active.portfolio}}active{{/if}}"><a href="/portfolio">Portfolio</a></li>
    <li class="{{#if active.contact}}active{{/if}}"><a href="/contact">Contact</a></li>
  </ul>
</div>
