<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta property="og:image" content="http://redpine.software/img/logo.png" />
  <title>Red Pine Software, LLC</title>
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>


  <div class="main-layout">
    {{>header}}

    {{>nav}}

    {{{body}}}
  </div>


  <div class="copyright">
    Copyright 2017 Red Pine Software, LLC
  </div>
</body>
</html>
