<div class="about">
  <p>
  <strong class="redpine">Redpine Software, LLC</strong> is a world-class software and hardware development agency, specializing in JavaScript application development, including design, architecture, implementation, and maintenance of both small and large-scale web applications.
  </p>
</div>
