<div class="about">
  <p>
  <strong class="redpine">Redpine Software, LLC</strong> is a world-class software consultancy, specializing in <strong>Frontend</strong> and <strong>Full-Stack</strong> JavaScript application development, including design, architecture, implementation, and maintenance of both small and large-scale web applications.
  </p>

  <p>Please check out our <a href="/portfolio">portfolio</a>, and feel free to <a href="/contact">contact</a> us for potential engagements.</p>

  <h1>Tech in Our Wheelhouse:</h1>
  <div class="logos">
    <img src="/img/ember-logo.png" alt="">
    <img src="/img/ember-data-logo.png" alt="">
    <img src="/img/react-logo.png" alt="">
    <img src="/img/redux-logo.png" alt="">
    <img src="/img/graphql-logo.png" alt="">
    <img src="/img/react-native-logo.png" alt="">
    <img src="/img/es6-logo.png" alt="">
    <img src="/img/nodejs-logo.png" alt="">
    <img src="/img/express-logo.png" alt="">
    <img src="/img/postgresql-logo.png" alt="">
    <img src="/img/docker-logo.svg" alt="">
    <img src="/img/jenkins-logo.png" alt="">
  </div>
</div>
