<div class="contact">
  <h2>Contact Info</h2>
  <p>We are currently accepting engagements for projects including, but not limited to:</p>
  <ul>
    <li>basic web sites / static sites</li>
    <li>landing pages</li>
    <li>web applications</li>
    <li>mobile applications (ios/android)</li>
    <li>bug fixes for JavaScript applications</li>
  </ul>

  <p>Please direct all inquires to contact@redpine.software</p>
</div>
