<div class="portfolio">
  <div class="item">
    <div class="logo"><img src="/img/quartzy-logo.png" alt="Quartzy Logo"></div>
    <div class="title">Quartzy</div>
    <div class="description">Quartzy had us deliver features, implement bug fixes, and work both sides of the stack, utilizing our expertise with frontend JavaScript applications, as well as full-stack concerns involving PHP, Docker, and MySQL.</div>
  </div>
  <div class="item">
    <div class="logo"></div>
    <div class="title"></div>
    <div class="description"></div>
  </div>
</div>
