<div class="portfolio">
  <h2>Projects We've Worked With</h2>
  <div class="item">
    <div class="logo quartzy-logo">
      <a href="https://quartzy.com" target="_blank"><img src="/img/quartzy-logo.png" alt="Quartzy Logo"></a>
    </div>
    <div class="description">
      <a href="https://quartzy.com" target="_blank">Quartzy</a> has had us deliver features, implement bug fixes, and improve the backend, with a cool mix of technologies including <strong>Ember.js</strong>, <strong>PHP</strong>/<strong>Laravel</strong> and <strong>Docker</strong>. We are happy to have contributed to their flagship Ember app that helps scientsts manage their labs, worldwide!
    </div>
  </div>
  <div class="item">
    <div class="logo">
      <a href="https://scribble.today" target="_blank">
        <img src="/img/scribble.today-logo.png" alt="Scribble.today Logo">
      </a>
    </div>
    <div class="description">One of our in-house products, <a href="https://scribble.today" target="_blank">Scribble.today</a> is a beautifully designed journaling app, built using <strong>Ember.js</strong>, <strong>Node.js</strong>, <strong>ExpressJS</strong>, and <strong>PostgreSQL</strong>.</div>
  </div>

  <div class="item">
    <div class="logo">
      <a href="https://slushi.es" target="_blank"><img src="/img/slushies-logo.svg" alt="Slushi.es Logo"></a>
    </div>
    <div class="description">Another in-house product, <a href="https://slushi.es" target="_blank">Slushi.es</a> is an experiment in utility, by letting you <strong>save bookmarks</strong>, and access them anywhere with a <strong>super-responsive search</strong>. Tech included in the Slushi.es suite of products include <strong>React</strong>, <strong>Ember.js</strong>, <strong>Node</strong>, and <strong>PostgreSQL</strong>.
  </div>
</div>
