html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding-bottom: 40px; }

@media (min-width: 800px) {
  body {
    padding-bottom: 0; } }

/**
 * Main wrapper
 */
.main-layout {
  max-width: 800px;
  margin: 0 auto; }

@media (min-width: 800px) {
  .main-layout {
    display: flex;
    flex-wrap: wrap; } }

/**
 * Header section
 */
.header {
  flex: 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding-top: 1rem; }
  .header .logo {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%; }
    .header .logo img {
      height: 100%; }
  .header .title {
    display: none;
    flex: 1;
    font-size: 8rem; }

@media (min-width: 600px) {
  .header .logo {
    flex: 0; }
  .header .title {
    display: block;
    font-size: 4rem; } }

/**
 * Nav section
 */
.nav {
  background-color: white;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  font-size: 1.25rem;
  font-style: italic;
  width: 100%; }
  .nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%; }
  .nav li {
    display: inline;
    list-style: none;
    height: 100%;
    padding: 1rem 0; }
    .nav li a {
      color: #FF6A74;
      text-decoration: none; }
    .nav li.active a {
      font-weight: bold; }

@media (min-width: 800px) {
  .nav {
    flex: 0 200px;
    position: static;
    border: none; }
    .nav ul,
    .nav li {
      display: block; } }

/**
 * About section
 */
.about {
  flex: 1;
  padding: 0 1rem 1rem;
  line-height: 1.7; }
  .about strong {
    font-style: italic; }
    .about strong.redpine {
      font-size: 1.25rem; }
  .about .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .about .logos img {
      align-self: center;
      margin: 1rem;
      max-width: 100px;
      width: auto;
      height: auto; }
  .about h1 {
    font-style: italic;
    color: #555; }

/**
 * portfolio section
 */
.portfolio {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem 1rem; }
  .portfolio h2 {
    flex: 1 100%;
    color: #555;
    font-style: italic;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    margin-top: 1rem; }
  .portfolio .item {
    flex: 1 100%;
    max-width: 500px;
    margin: 0 auto; }
    .portfolio .item .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px; }
      .portfolio .item .logo img {
        align-self: center;
        max-width: 400px;
        height: auto;
        width: 100%; }
    .portfolio .item .quartzy-logo a img {
      max-height: 150px;
      width: auto; }
    .portfolio .item .title,
    .portfolio .item .description {
      padding-left: 1rem; }
    .portfolio .item .title {
      font-size: 3rem; }
    .portfolio .item .description {
      line-height: 1.5;
      letter-spacing: 0.25px; }

/**
 * contact section
 */
.contact {
  flex: 1;
  padding: 0 1rem 1rem; }
  .contact h2 {
    color: #555;
    font-style: italic;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc; }

/**
 * copyright
 */
.copyright {
  font-size: .8rem;
  text-align: center; }
