html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
  padding-bottom: 20px;
}

/**
 * Main wrapper
 */
.main-layout {
  padding: 1rem;
}

/**
 * Header section
 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding-top: 1rem;

  .logo {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%;

    img {
      height: 100%;
    }
  }

  .title {
    display: none;
    flex: 1;
    font-size: 8rem;
  }
}

@media(min-width: 600px) {
  .header {
    .logo {
      flex: 0;
    }

    .title {
      display: block;
      font-size: 4rem;
    }
  }
}

/**
 * Nav section
 */
.nav {
  background-color: white;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  font-size: 1.25rem;
  font-style: italic;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    display: inline;
    list-style: none;
    height: 100%;
    padding: 1rem 0;

    a {
      color: #FF6A74;
      text-decoration: none;
    }

    &.active a {
      font-weight: bold;
    }
  }
}

/**
 * About section
 */
.about {
  line-height: 1.7;

  strong {
    font-style: italic;

    &.redpine {
      font-size: 1.25rem;
    }
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
      align-self: center;
      margin: 1rem;
      max-width: 100px;
      width: auto;
      height: auto;
    }
  }

  h1 {
    font-style: italic;
  }
}
